{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 bg-white p-5 mt-5 border-rounded shadow">
            <h2>Update Asset Type</h2>
            {% if messages %}
                {% include "_message_.html" %}
            {% endif %}
            <form method="POST" action="{% url 'asset_update' object.id %}">
                {% csrf_token %}
                {{ form|crispy }}                 
                <button type="submit" class="btn btn-success w-100">Update</button>
            </form>

            <hr>
                <p>Image Uploaded</p>
                <div class="form-group">
                    <div class="row">                   
                    {% for img in object.images.all %}     
                    <div class="col-md-3" id="delete-{{ img.id }}">            
                        <p><img src="{{img.image.url}}" alt="{{ img.name }}" class="img-thumbnail" style="width: 100px; height: 100px;"></p>
                        <button class="btn btn-dark" onclick="removeAssetImage('{{img.id}}')">Remove</button>                    
                    </div>
                    {% endfor %}
                </div>
                </div>

                {% if object.images.all.count < 5 %}
                    <hr>
                    <form method="POST" enctype="multipart/form-data" id="asset_image_form">
                        <div class="form-group">
                            <div id="dynamic-fields">                    
                                {{ asset_image_form.image|as_crispy_field }}
                            </div>
                        </div>                    
                        
                        <div class="text-right">
                            <button type="button" class="btn btn-warning m-3" onclick="addFormField()">+ Add Field</button>
                            <button type="button" class="btn btn-danger m-3" onclick="removeFormField()">- Remove Field</button>
                        </div>
                        <button type="submit" class="btn btn-success w-100">Update Image</button>
                        </form>
                    {% endif %}
            <hr>
            <a href="{% url 'asset_list' %}" class="btn btn-secondary">Back</a>
        </div>
        </div>
    </div>
</div>
    
{% endblock main_content %}


{% block extrajs %}
<script>
    function addFormField() {
        var dynamicFields = document.getElementById("dynamic-fields");
        var imageCount = document.getElementsByName('image').length;
        imageCount += document.getElementsByTagName('img').length;
        if (imageCount > 4) {
            alert("You can only add up to 5 images.");
            return;
        }
        var newField = document.createElement("div");
        newField.innerHTML = '{{ asset_image_form.image }}';
        dynamicFields.appendChild(newField);
    }

    function removeFormField() {
        var dynamicFields = document.getElementById("dynamic-fields");
        var imageCount = document.getElementsByName('image').length;
        if (imageCount == 1) {
            alert("You must have at least 1 image.");
            return;
        }
        dynamicFields.removeChild(dynamicFields.lastChild);
    }

    function removeAssetImage(id){        
        var url = "{% url 'asset_image_remove' %}";
        if(confirm("Are you sure you want to delete this image?")){
            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    imageId: id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    console.log('Image removed successfully');
                    $('#delete-'+id).remove();
                    window.location.reload();
                },
                error: function(error) {
                    let message = error.responseJSON;
                    alert(message['message']);
                }
            });
            
        }
        
        
    }

    $(document).ready(function(){
        $('#asset_image_form').submit(function(e){
            e.preventDefault();
            var url = "{% url 'asset_image_update' %}";
            var formData = new FormData(this);
            formData.append('assetId', '{{ object.id }}');
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                success: function(response) {
                    console.log('Image updated successfully');
                    location.reload();
                },
                error: function(error) {                    
                    let message = error.responseJSON;
                    alert(message['message']);
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    });
</script>

{% endblock extrajs %}