{% extends "base_page.html" %}
{% load static %}

{% block content %}
    <div class="layout-fixed sidebar-expand-lg bg-body-tertiary" id="body">
        <div class="app-wrapper"> <!--begin::Header-->
            {% include 'navbar.html' %}
            {% include "sidebar.html" %}

            {% block main_content %}
        
            {% endblock main_content %}
        </div>
        {% include "footer.html" %}

        {% block extrajs %}
        {% endblock extrajs %}
    </div>
{% endblock content %}
    